.container{
    display: grid;
    grid-template-rows: auto 100% auto auto auto;
}

.score_div{
    display:flex;
    justify-content: space-around;
}

.choice_bar{
    display: flex;
    justify-content: center;
}

.choice_btn{
    margin:15px;
    background-color:white;
    border: 1px black solid;
    
}